html,body {
    height: 100%;
    margin: 0;
    background-color: #fb8c00 ;
    font-family: 'Open Sans', sans-serif;
}


h2{
    font-size: 3em !important;
}
.jumbotron-icon{
    text-shadow:0 2px 1px #e65100;
}

core-toolbar{
    background:transparent !important;
    color: #fff;
}

core-toolbar span a{
    color: #fff;
}

core-animated-pages{
    width: 100%;
    height:100%;
}

paper-item a{
    color: #ffffff;
    font-size: 1.3em;
}

paper-item i{
    margin-right: 5px;
}

:unresolved {
    display: flex;
    justify-content: center;
    background: rgba(255,255,255,0.5);
    border: 1px dashed #ccc;
    border-radius: 5px;
}
:unresolved:after {
    padding: 15px;
    content: 'loading...';
    color: #ccc;
}

/* drawer is always visible on a wide screen so menu button isn't required */
core-drawer-panel:not([narrow]) #navicon {
    display: none;
}

paper-input{
    color: #ffffff;
    width:40%;
}
paper-input /deep/ paper-input-decorator /deep/ input{
    color: #ffff00 !important;
    font-size:1.7rem !important;
}

paper-input /deep/ paper-input-decorator /deep/ input::-webkit-input-placeholder
{
    color: #ffb74d !important;
}

paper-input /deep/ paper-input-decorator /deep/ .underline .unfocused-underline{
    background-color: #ffffff !important;
}

paper-input /deep/ paper-input-decorator /deep/ .underline .focused-underline{
    background-color: #ffff00 !important;
}

paper-input /deep/ paper-input-decorator[focused] /deep/ .floated-label .label-text{
    color: #ffffff;
}

paper-input /deep/ paper-input-decorator[focused] /deep/ .floated-label[invisible] .label-text{
    color: #ffffff;
}

paper-input /deep/ paper-input-decorator /deep/ .floated-label .label-text{
    color: #ffffff !important;
}

paper-input /deep/ .label-text{
    color: #ffb74d !important;
}

.no-thing-message{
    margin-top:10vh !important;
}